In [32]:
import pandas as pd

In [33]:
df_excel = pd.read_excel("Movies_Dataset.xlsx")
df_excel

     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue
0       Movie 1     Sci-Fi          2000          6.0  1680.53
1       Movie 2  Adventure          2000          2.2   987.24
2       Movie 3    Romance          2002          5.2  1122.13
3       Movie 4    Romance          2001          4.5   581.84
4       Movie 5     Action          2012          6.6  1205.51
..          ...        ...           ...          ...      ...
995   Movie 996     Sci-Fi          2013          8.7   456.39
996   Movie 997  Adventure          1993          6.2  1255.27
997   Movie 998    Fantasy          2016          8.1  1161.96
998   Movie 999     Action          1996          8.9   941.67
999  Movie 1000     Horror          1995          9.4  1390.70

[1000 rows x 5 columns]

In [34]:
df = pd.read_excel("Movies_Dataset.xlsx")
df

     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue
0       Movie 1     Sci-Fi          2000          6.0  1680.53
1       Movie 2  Adventure          2000          2.2   987.24
2       Movie 3    Romance          2002          5.2  1122.13
3       Movie 4    Romance          2001          4.5   581.84
4       Movie 5     Action          2012          6.6  1205.51
..          ...        ...           ...          ...      ...
995   Movie 996     Sci-Fi          2013          8.7   456.39
996   Movie 997  Adventure          1993          6.2  1255.27
997   Movie 998    Fantasy          2016          8.1  1161.96
998   Movie 999     Action          1996          8.9   941.67
999  Movie 1000     Horror          1995          9.4  1390.70

[1000 rows x 5 columns]

In [35]:
df.Genre

0         Sci-Fi
1      Adventure
2        Romance
3        Romance
4         Action
         ...
995       Sci-Fi
996    Adventure
997      Fantasy
998       Action
999       Horror
Name: Genre, Length: 1000, dtype: object

 ### 1.Select all movies in the "Action" genre.

In [54]:
df[df.Genre == "Action"]

    Movie Name   Genre  Release_Year  IMDb_Rating  Revenue   Rank
4      Movie 5  Action          2012          6.6  1205.51  647.5
34    Movie 35  Action          2009          8.7   545.60  869.5
64    Movie 65  Action          2023          7.7  1137.79  762.5
65    Movie 66  Action          1999          3.1  1335.85  227.0
73    Movie 74  Action          2001          4.1   350.80  339.0
..         ...     ...           ...          ...      ...    ...
930  Movie 931  Action          1994          8.6  1863.66  858.5
944  Movie 945  Action          2004          7.5  1709.81  742.0
980  Movie 981  Action          2022          5.2    28.40  471.5
988  Movie 989  Action          2023          4.1   231.67  339.0
998  Movie 999  Action          1996          8.9   941.67  896.5

[104 rows x 6 columns]

### 2. Select movies released after 2000.

In [37]:
df[df['Release_Year'] > 2000]

    Movie Name     Genre  Release_Year  IMDb_Rating  Revenue
2      Movie 3   Romance          2002          5.2  1122.13
3      Movie 4   Romance          2001          4.5   581.84
4      Movie 5    Action          2012          6.6  1205.51
6      Movie 7   Mystery          2021          5.1  1683.99
7      Movie 8    Comedy          2005          4.0  1062.13
..         ...       ...           ...          ...      ...
988  Movie 989    Action          2023          4.1   231.67
989  Movie 990   Fantasy          2004          1.6  1056.58
991  Movie 992  Thriller          2004          9.2   251.25
995  Movie 996    Sci-Fi          2013          8.7   456.39
997  Movie 998   Fantasy          2016          8.1  1161.96

[518 rows x 5 columns]

### 3. Select movies with an IMDb rating greater than 8.5.

In [38]:
df[df['IMDb_Rating'] > 8.5]

     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue
34     Movie 35     Action          2009          8.7   545.60
51     Movie 52    Mystery          1998          9.0  1089.93
56     Movie 57     Comedy          1993          9.2  1586.13
74     Movie 75  Adventure          1999          8.6  1688.49
81     Movie 82    Mystery          1997          8.6  1238.32
..          ...        ...           ...          ...      ...
991   Movie 992   Thriller          2004          9.2   251.25
992   Movie 993     Horror          1985          9.6   951.23
995   Movie 996     Sci-Fi          2013          8.7   456.39
998   Movie 999     Action          1996          8.9   941.67
999  Movie 1000     Horror          1995          9.4  1390.70

[148 rows x 5 columns]

### 4. Select only "Movie Name" and "Genre" columns.

In [39]:
df[['Movie Name', 'Genre']]

     Movie Name      Genre
0       Movie 1     Sci-Fi
1       Movie 2  Adventure
2       Movie 3    Romance
3       Movie 4    Romance
4       Movie 5     Action
..          ...        ...
995   Movie 996     Sci-Fi
996   Movie 997  Adventure
997   Movie 998    Fantasy
998   Movie 999     Action
999  Movie 1000     Horror

[1000 rows x 2 columns]

### 5. Select movies released between 1990 and 2010.

In [40]:
df[(df['Release_Year'] >= 1990) & (df['Release_Year'] <= 2010)]

     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue
0       Movie 1     Sci-Fi          2000          6.0  1680.53
1       Movie 2  Adventure          2000          2.2   987.24
2       Movie 3    Romance          2002          5.2  1122.13
3       Movie 4    Romance          2001          4.5   581.84
5       Movie 6    Fantasy          1997          2.4   485.22
..          ...        ...           ...          ...      ...
991   Movie 992   Thriller          2004          9.2   251.25
994   Movie 995     Sci-Fi          1997          2.0   342.98
996   Movie 997  Adventure          1993          6.2  1255.27
998   Movie 999     Action          1996          8.9   941.67
999  Movie 1000     Horror          1995          9.4  1390.70

[500 rows x 5 columns]

### 6. Count the number of movies in each genre.

In [41]:
df['Genre'].value_counts()

Genre
Drama        113
Comedy       110
Fantasy      107
Thriller     107
Action       104
Adventure     96
Sci-Fi        93
Romance       91
Horror        90
Mystery       89
Name: count, dtype: int64

### 7. Find the highest IMDb-rated movie.

In [42]:
df['IMDb_Rating'].max()

10.0

### 8. Find the average IMDb rating of all movies.

In [43]:
df['IMDb_Rating'].mean()

np.float64(5.458600000000001)

### 9. Find the total box office collection of all movies.

In [44]:
df['Revenue'].sum()

np.float64(1049716.26)

### 10. Select movies with box office earnings greater than 500 million.

In [45]:
df[df['Revenue'] > 500_000_000]

Empty DataFrame
Columns: [Movie Name, Genre, Release_Year, IMDb_Rating, Revenue]
Index: []

### 11. Rank movies based on IMDb rating.

In [46]:
df['Rank'] = df['IMDb_Rating'].rank()
df

     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue   Rank
0       Movie 1     Sci-Fi          2000          6.0  1680.53  568.5
1       Movie 2  Adventure          2000          2.2   987.24  132.0
2       Movie 3    Romance          2002          5.2  1122.13  471.5
3       Movie 4    Romance          2001          4.5   581.84  391.5
4       Movie 5     Action          2012          6.6  1205.51  647.5
..          ...        ...           ...          ...      ...    ...
995   Movie 996     Sci-Fi          2013          8.7   456.39  869.5
996   Movie 997  Adventure          1993          6.2  1255.27  594.5
997   Movie 998    Fantasy          2016          8.1  1161.96  801.5
998   Movie 999     Action          1996          8.9   941.67  896.5
999  Movie 1000     Horror          1995          9.4  1390.70  947.0

[1000 rows x 6 columns]

In [47]:
df.sort_values('Rank')

    Movie Name      Genre  Release_Year  IMDb_Rating  Revenue   Rank
297  Movie 298     Comedy          2006          1.0   692.08    3.5
80    Movie 81  Adventure          2002          1.0  1759.50    3.5
577  Movie 578     Action          1999          1.0  1621.75    3.5
758  Movie 759     Horror          2000          1.0  1590.35    3.5
699  Movie 700   Thriller          1984          1.0     9.60    3.5
..         ...        ...           ...          ...      ...    ...
628  Movie 629    Mystery          1994         10.0   644.31  997.5
241  Movie 242     Comedy          2006         10.0   802.61  997.5
472  Movie 473    Fantasy          1985         10.0   845.18  997.5
610  Movie 611    Mystery          2017         10.0  1355.06  997.5
564  Movie 565     Action          2020         10.0   943.50  997.5

[1000 rows x 6 columns]

### 12. Sort movies by release year in descending order.

In [48]:
df.sort_values('Release_Year', ascending=False)

    Movie Name      Genre  Release_Year  IMDb_Rating  Revenue   Rank
836  Movie 837      Drama          2024          5.6   913.15  516.5
827  Movie 828      Drama          2024          2.0   146.52   97.0
47    Movie 48  Adventure          2024          4.6  1630.30  402.0
909  Movie 910    Fantasy          2024          4.7  1251.35  413.0
907  Movie 908    Romance          2024          5.8  1821.62  542.5
..         ...        ...           ...          ...      ...    ...
41    Movie 42   Thriller          1980          1.9  1882.34   83.5
551  Movie 552    Mystery          1980          8.3    40.79  825.5
174  Movie 175     Action          1980          2.1   793.29  115.0
170  Movie 171    Mystery          1980          4.6  1684.78  402.0
244  Movie 245      Drama          1980          1.3  1231.51   24.0

[1000 rows x 6 columns]

### 13. Find all duplicate movie names (if any).

In [49]:
df[df.duplicated(subset = ['Movie Name'])]

   Movie Name      Genre  Release_Year  IMDb_Rating  Revenue   Rank
12   Movie 10      Drama          1996          3.2  1352.66  235.5
13   Movie 11    Mystery          2003          6.3   596.43  609.0
14   Movie 12     Sci-Fi          1988          3.0  1134.01  214.5
20   Movie 16     Comedy          2006          2.3  1322.79  145.0
21   Movie 17     Horror          2007          6.2  1114.31  594.5
22   Movie 18  Adventure          1998          7.9  1426.73  780.0
23   Movie 19     Comedy          1986          6.0  1783.44  568.5
24   Movie 20    Fantasy          1982          6.9  1598.08  672.0

In [50]:
df[df.duplicated()]

   Movie Name      Genre  Release_Year  IMDb_Rating  Revenue   Rank
12   Movie 10      Drama          1996          3.2  1352.66  235.5
13   Movie 11    Mystery          2003          6.3   596.43  609.0
14   Movie 12     Sci-Fi          1988          3.0  1134.01  214.5
20   Movie 16     Comedy          2006          2.3  1322.79  145.0
21   Movie 17     Horror          2007          6.2  1114.31  594.5
22   Movie 18  Adventure          1998          7.9  1426.73  780.0
23   Movie 19     Comedy          1986          6.0  1783.44  568.5
24   Movie 20    Fantasy          1982          6.9  1598.08  672.0

### 14. Remove duplicate movie names.

In [51]:
df = df.drop_duplicates(subset = ['Movie Name'])
df

     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue   Rank
0       Movie 1     Sci-Fi          2000          6.0  1680.53  568.5
1       Movie 2  Adventure          2000          2.2   987.24  132.0
2       Movie 3    Romance          2002          5.2  1122.13  471.5
3       Movie 4    Romance          2001          4.5   581.84  391.5
4       Movie 5     Action          2012          6.6  1205.51  647.5
..          ...        ...           ...          ...      ...    ...
995   Movie 996     Sci-Fi          2013          8.7   456.39  869.5
996   Movie 997  Adventure          1993          6.2  1255.27  594.5
997   Movie 998    Fantasy          2016          8.1  1161.96  801.5
998   Movie 999     Action          1996          8.9   941.67  896.5
999  Movie 1000     Horror          1995          9.4  1390.70  947.0

[992 rows x 6 columns]

### 15. Replace "Sci-Fi" genre with "Science Fiction".

In [55]:
df = df.copy()
df['Genre'] = df.Genre.replace("Sci-Fi", "Science Fiction")
df

     Movie Name            Genre  Release_Year  IMDb_Rating  Revenue   Rank
0       Movie 1  Science Fiction          2000          6.0  1680.53  568.5
1       Movie 2        Adventure          2000          2.2   987.24  132.0
2       Movie 3          Romance          2002          5.2  1122.13  471.5
3       Movie 4          Romance          2001          4.5   581.84  391.5
4       Movie 5           Action          2012          6.6  1205.51  647.5
..          ...              ...           ...          ...      ...    ...
995   Movie 996  Science Fiction          2013          8.7   456.39  869.5
996   Movie 997        Adventure          1993          6.2  1255.27  594.5
997   Movie 998          Fantasy          2016          8.1  1161.96  801.5
998   Movie 999           Action          1996          8.9   941.67  896.5
999  Movie 1000           Horror          1995          9.4  1390.70  947.0

[992 rows x 6 columns]

In [22]:
df.Genre.unique()

array(['Science Fiction', 'Adventure', 'Romance', 'Action', 'Fantasy',
       'Mystery', 'Comedy', 'Horror', 'Drama', 'Thriller'], dtype=object)

### 16. Select the first 10 movies.

In [23]:
df.head(10)

  Movie Name            Genre  Release_Year  IMDb_Rating  Revenue   Rank
0    Movie 1  Science Fiction          2000          6.0  1680.53  568.5
1    Movie 2        Adventure          2000          2.2   987.24  132.0
2    Movie 3          Romance          2002          5.2  1122.13  471.5
3    Movie 4          Romance          2001          4.5   581.84  391.5
4    Movie 5           Action          2012          6.6  1205.51  647.5
5    Movie 6          Fantasy          1997          2.4   485.22  156.5
6    Movie 7          Mystery          2021          5.1  1683.99  455.5
7    Movie 8           Comedy          2005          4.0  1062.13  328.5
8    Movie 9           Horror          1992          2.8  1592.74  186.0
9   Movie 10            Drama          1996          3.2  1352.66  235.5

### 17. Select the last 5 movies.

In [24]:
df.tail()

     Movie Name            Genre  Release_Year  IMDb_Rating  Revenue   Rank
995   Movie 996  Science Fiction          2013          8.7   456.39  869.5
996   Movie 997        Adventure          1993          6.2  1255.27  594.5
997   Movie 998          Fantasy          2016          8.1  1161.96  801.5
998   Movie 999           Action          1996          8.9   941.67  896.5
999  Movie 1000           Horror          1995          9.4  1390.70  947.0

### 18. Group movies by genre and find the average IMDb rating for each genre.

In [25]:
df.groupby('Genre')['IMDb_Rating'].mean()

Genre
Action             5.670192
Adventure          4.982105
Comedy             5.466667
Drama              5.191071
Fantasy            5.183962
Horror             5.810112
Mystery            5.772727
Romance            5.938462
Science Fiction    5.471739
Thriller           5.267290
Name: IMDb_Rating, dtype: float64

### 19. Find the number of movies released in each year.

In [26]:
df['Release_Year'].value_counts().sort_index()

Release_Year
1980    26
1981    17
1982    20
1983    16
1984    16
1985    28
1986    20
1987    17
1988    19
1989    30
1990    21
1991    21
1992    26
1993    21
1994    23
1995    27
1996    25
1997    22
1998    28
1999    25
2000    29
2001    23
2002    24
2003    24
2004    20
2005    21
2006    22
2007    28
2008    24
2009    21
2010    20
2011    23
2012    20
2013    26
2014    20
2015    23
2016    14
2017    18
2018    18
2019    15
2020    20
2021    16
2022    25
2023    18
2024    32
Name: count, dtype: int64

### 20. Find the total box office collection per genre.

In [27]:
df.groupby('Genre')['Revenue'].sum()

Genre
Action             111137.94
Adventure          102437.69
Comedy             119580.40
Drama              118958.66
Fantasy            108251.78
Horror              89281.21
Mystery             98236.50
Romance             94413.72
Science Fiction     84677.79
Thriller           112412.12
Name: Revenue, dtype: float64